extends ../layouts/common
block content
  h2.mt-4.mb-4.text-center  Book List

  if errors
    each error in errors
      .alert.alert-danger= error

  form(action="books/search" method='GET')
    .form-group.d-flex
      input.form-control(type="text" name="q" value=q)
      button.btn.btn-primary.ml-2 Search
  hr

  form(action="/books/create" method="POST")
      .form-group
        label(for="title") Title Book
        input#title.form-control(type="text" name="title" value=values ? values.title : "")
        label.mt-3(for="description") Description Book
        input#description.form-control(type="text" name="description" value=values ? values.description : "")
        button.btn.btn-primary.mt-3 Create
  hr
  .hire.ml-auto.d-flex.align-items-center.justify-content-end
    form(action="/transactions", method="POST")
      button.btn.btn-primary.ml-2 MyCart (#{count})
  table.table.table-hover.mt-3
    thead
      tr
        th Cover Book
        th Title
        th Description   
          th Actions
    tbody
      each book in books
        tr
          td
            if book.coverUrl
              img.rounded(src=book.coverUrl width="64" height="64")
            else
              img.rounded(src="https://res.cloudinary.com/dkh65bchm/image/upload/v1587720347/default-book_gwqxgy.jpg" width="64" height="64")
          td #{book.title}
          td #{book.description}
          td
              a(href='/books/' + book.id + '/update') 
                button.btn.btn-primary Update
              span 
              a(href='/books/' + book.id + '/delete')
                button.btn.btn-danger Delete
          
